*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Montserrat', sans-serif !important;
}

header {
    background-color: #242121;
    width: 100%;
    max-height: 144px;
    z-index: 9999 !important;
    position: fixed;
}

.navbar-brand img {
    width: 55px;
    height: 55px;
    flex-shrink: 0;
    border-radius: 15px;
}

.navbar-nav {
    display: flex;
    align-items: center;
}

.nav-link {
    gap: 48px;
    font-size: 20px;
    color: white; 
}


header .nav-link:hover {
    color: #F24F4C;
}

.nav-link.active {
    color: #F24F4C; 
}

header .btn {
    margin-left: 48px;
    background-color: #F24F4C;
    color: white;
}

header .btn:hover {
    background-color: white;
    color: #F24F4C;
}

.nav-menu {
    display: flex;
    align-items: center;
    color: white;
}

.nav-item:not(:last-child) {
    margin-right: 20px; 
}

.navbar-collapse {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

@media screen and (max-width: 768px) {
    header {
        height: auto; 
        max-height: 100% !important;
        position: fixed;
    }

    #home{
        padding-top: 144px;
        max-height: 540px !important;
    }

    #home h1{
        font-size: 30px !important;
    }

    #home p{
        font-size: 16px !important;
        width: 82% !important;
    }

    .navbar-brand img {
        width: 54px;
        height: 54px;
    }

    .navbar-nav {
        margin-left: 0; 
        flex-direction: column; 
        background-color: #242121; 
    }

    .navbar-collapse{
        flex-direction: column;
    }

    .btnSubmitForm{
        height: 100% !important;
        padding: 18px 0px !important;
        font-size: 18px !important;
        font-weight: 700;
    }

    .navbar-toggler {
        background-color: white;
        color: white; 
    }

    .nav-link {
        gap: 24px;
    }

    header .btn {
        margin-left: 0;
        margin-right: 15px;
    }

    .about-img{
        width: 100%;
        height: 100% !important;
        padding: 35px 0px;

    }

    #about{
        padding: 50px 0 !important;
    }

    #about p{
        padding-bottom: 15px;
        width: 100% !important;
        font-size: 18px;
    }


    iframe{
        display: none;
    }

    form{
        padding: 0px 15px;
    }

    .column-cont-card{
        flex-wrap: wrap;
        margin: 0 !important;
    }
}

@media screen and (min-width: 768px) and (max-width: 1024px) {

    .navbar-brand img {
        width: 54px;
        height: 54px;
    }

    .navbar-nav {
        margin-left: 0; 
        flex-direction: column; 
        background-color: #242121; 
        position: absolute; 
        right: 0; 
        top: 100%; 
    }

    .navbar-toggler {
        background-color: white;
        color: white; 
        align-items: right;
    }


}









/* Home */
#home {
    width: 100%;
    padding-top: 25px;
    height: 720px; /* Altura fija para desktop */
    background: url('img/home-bg.svg') lightgray 50% / cover no-repeat;
    background-blend-mode: multiply;
}

.home img {
    max-width: 100%;
    height: auto;
}


#home h1 {
    color: #FFF;
    font-family: 'Montserrat', sans-serif;
    font-size: 3.5em;
    font-weight: 700;
    width: 100%;
    margin-bottom: 20px;
}

#home p {
    width: 100%;
    color: #FFF;
    font-family: Inter, sans-serif;
    font-size: 24px;
    font-weight: 500;
    line-height: 1.5em;
    margin-bottom: 30px;
}

#home .btn {
    padding: 14px 24px;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    background: #F24F4C;
    border: 1px solid #F24F4C;
    box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.05);
    margin-left: 0 !important;

}

.home-btn-container{
    display: flex;
    gap: 20px;
}

#home .btn:hover {
    background-color: transparent;
    color: #F24F4C;
    border: 1px solid #F24F4C;
}

/* Media Queries */
@media screen and (max-width: 768px) {
    #home {
        height: 670px; 
    }
}
#home .btn {
    margin-bottom: 20px; 
}




/* Sobre nosotros */
#about {
    background: #E8E8E8;
}

#about {
    padding: 140px 0px;
}

#about h2 {
    width: 100%;
    height: auto;
    flex-shrink: 0;
    color: #191919;
    font-family: 'Montserrat', sans-serif;
    font-size: 45px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    margin-bottom: 5%; 
}

.about-img {

    height: 560px;
    flex-shrink: 0;
    border-radius: 20px;
}

#about p {
    font-size: 20px;
    line-height: 1.5em;
    color: #191919;
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 400;
    width: 100%;
    margin: 0 auto; 
}




    #about .row {
        flex-direction: row; 
        justify-content: space-between; 
    }


    #about .parraf {
        margin-bottom: 20px;
    }


.about-foto {
    width: 415px;
    height: 371px;
    flex-shrink: 0;
}
.about-foto {
    width: 415px;
    height: 371px;
    flex-shrink: 0;
}






/* Servicio */
#services {
    margin-top: 120px; 
}


#services h2 {
    color: #000;
    font-family: 'Montserrat', sans-serif;
    font-size: 45px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    letter-spacing: -0.9px;
}


#services h3 {
    color: #000;
    font-family: 'Montserrat', sans-serif;
    font-size: 22px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: -0.44px;
}

.card-container {
    margin-top: 60px;
}

.column-cont-card{
    display: flex;
    width: 100%;
    margin-bottom: 73px; 
    justify-content: space-between;
}

.card:nth-child(2n) {
    margin-right: 0;
}


.card {
    max-width: 530px; 
    background-color: #242121;
    padding: 35px 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    border-radius: 20px;
}

.card img {
    width: 100px;
    height: 100px;
    margin-bottom: 23px;
}

.card h4 {
    color: #FFF;
    font-family: 'Montserrat', sans-serif;
    font-size: 25px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: -0.5px;
}

.card p {
    color: #FFF;
    font-family: 'Inter', sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: -0.36px;
}

/* Media Queries */
@media screen and (max-width: 768px) {
    #services {
        margin-top: 60px;
    }

    #services h2 {
        font-size: 30px;
    }

    #services h3{
        font-size: 18px;
    }

    .card-container {
        flex-direction: column;
    }

    .card {
        width: 100%;
        height: auto; 
        margin-bottom: 30px; 
        margin-right: 0; 
        padding: 30px;
    }

    .card img {
        width: 50px; 
        height: 50px; 
    }

    .card h4, .card p {
        font-size: 18px; 
    }

    #about .row{
        flex-direction: column-reverse !important;
    }
}






/* Adoptar */
#adopt h2 {
    margin-top: 120px; 
    color: #000;
    font-family: 'Montserrat', sans-serif;
    font-size: 45px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    letter-spacing: -0.9px;
}

#adopt h3 {
    margin-bottom: 91px;
    color: #000;
    font-size: 22px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: -0.44px;
}

.carousel {
    width: 100%; 
}

.carousel-item img {
    width: 100%; 
    height: auto; 
}

.carousel-caption {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.carousel-caption h5 {
    margin-bottom: 0px; 
}

#adopt h5 {
    margin-bottom: 3px;
    color: #FFF;
    text-align: center;
    font-size: 45px;
}

.adopt-p1{
    margin-bottom: 80px;
    color: #FFF;
    text-align: center;
    font-size: 30px;
}

.adopt-p2{
    margin-bottom: 60px;
    color: #FFF;
    text-align: center;
    font-size: 30px;
}

.carousel-caption .btn-adopt {
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
}


.btn-adopt {
    display: flex;
    width: 287px;
    padding: 14px var(--Spacing-S, 24px);
    justify-content: center;
    align-items: center;
    gap: var(--Spacing-XS, 8px);
    border-radius: var(--Spacing-XS, 8px);
    background: #F24F4C;
    color: white;
    /* Button Shadow */
    box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.05);
    margin-top: 14px;
}

.btn-adopt:hover {
    background-color: white;
    color: #F24F4C;
}

/* Media Queries */
@media screen and (max-width: 768px) {
    #adopt h2 {
        margin-top: 60px;
        font-size: 30px; 
    }
    #adopt h3{
        font-size: 18px;
        margin-bottom: 30px;

    }

    #adopt h5{
        margin-bottom: 50px;
    }

    .adopt-p1{
        display: none !important;
    }
    .carousel-caption h5, #adopt h5, .adopt-p1, .adopt-p2 {
        font-size: 20px;
    }

    .carousel-item img {
        width: 100%; 
        height: 330px; 
        object-fit: cover;
    }

    .btn-adopt {
        width: 200px;
        padding: 7px 12px;
    }

    #about h2{
        font-size: 30px;
    }
}








/* FAQ */
#faq {
    padding: 130px 0px;
    background-color: #E8E8E8;
}

#faq h2 {
    color: #000;
    font-family: 'Montserrat', sans-serif;
    font-size: 45px;
    font-weight: 600;
    line-height: normal;
}

#faq h3 {
    margin-bottom: 65px; 
    color: #000;
    font-family: 'Montserrat', sans-serif;
    font-size: 22px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: -0.44px;
}

#faq .accordion-button{
    background-color: #F24F4C;
    color: white;
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 30px;
}

#faq .accordion-button:hover{
    background-color: black;
    color: white;
}

#faq .accordion-button:not(.collapsed){
    background-color: black;
    color: white;
}

#faq .accordion-item {
    border-left: none;
    background-color: transparent;
    border-right: none;
    border-bottom: none;
}

#faq .accordion-button {
    border: none;
}

/* Media Queries */
@media screen and (max-width: 768px) {
    #faq {
        height: auto;
        padding: 60px 0;
    }

    #faq h2 {
        font-size: 30px;
    }
    #faq h3{
        font-size: 18px;
        margin-bottom: 30px;
    }
    #faq .accordion-button{
        font-size: 16px;
        margin-bottom: 15px;
    }
}










/* Contacto */
#contact {
    background-color: #242121;
    padding: 70px 0;
}

#contact-container {
    margin-left: 76px;
    margin-top: 210px;
    margin-bottom: 105px;
    margin-right: 76px;
}

#contact h2 {
    color: #fff;
    font-family: 'Montserrat', sans-serif;
    font-size: 40px;
    font-weight: 600;
    text-align: center;
}

#contact h3 {
    color: #fff;
    font-size: 32px;
    font-weight: 400;
    text-align: center;
    margin-bottom: 110px;
}

.contact .row {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
}

.contact-info {
    color: #000;
    font-family: Inter, sans-serif;
    font-size: 20px;
    font-weight: 400;
    line-height: 150%;
    max-width: 50%;
    padding-left: 38px;
}

.contact-item {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.contact-icon {
    width: 88px;
    height: 88px;
    margin-right: 12px;
}

.contact-form {
    max-width: 50%;
    padding-left: 0 !important;
}

.contact-form .form-control {
    width: 100%;
    height: 64px;
    margin-bottom: 38px;
    padding: 10px;
    font-size: 18px;
    border-radius: 8px;
    border: 0;
    border-bottom: 1px solid #676767;
    background-color: transparent;
}

iframe{
    border-radius: 24px;
    max-height: 430px;
}

.contact-form input[type="text"] {
    height: 47px;
}

input[type="text"]::placeholder, input[type="email"]::placeholder, select::placeholder, select{
    color: #fff !important;

}

select{
    background-image: url(https://skf71c.p3cdn1.secureserver.net/wp-content/uploads/2024/05/Rectangle-2.svg);
    background-repeat: no-repeat;
    background-position-x: 96%;
    background-position-y: 28px;
}


.contact-form button {
    width: 100%;
    padding: 10px 0px;
    font-size: 24px;
    border: 1px solid #F24F4C;
    font-weight: 700;
    font-family: 'Inter' sans-serif;
    border-radius: 10px;
    background-color: #F24F4C;
    color: #fff;
    cursor: pointer;
    transition: 0.4s;
}

.contact-form button:hover {
    background-color: transparent;
    color: #fff;
}

/* Media Queries */
@media screen and (max-width: 768px) {
    #contact-container {
        margin-left: 15px;
        margin-right: 15px;
        margin-top: auto;
    }

    #contact{
        margin-bottom: -2px;
    }

    #contact h2 {
        font-size: 30px;
    }

    #contact h3{
        font-size: 18px;
        margin-bottom: 40px;
    }

    .contact .row {
        flex-direction: column; 
    }

    .contact-info, .contact-form {
        max-width: 100%; 
        padding-right: 0;
        padding-left: 0;
    }

    .contact-icon {
        width: 44px; 
        height: 44px; 
    }

    .contact-form .form-control, .contact-form button {
        font-size: 15px; 
    }

    .contact-form textarea.form-control {
        height: 66px; 
    }
}



/* Footer */
footer {
    background-color: #242121;
    padding: 20px;
    color: white;
}

.footer{

    display: flex;
    padding: 33px 0;
    align-items: center;
}

.footer img {
    width: 108px;
    height: 108px;
    margin-right: 20px;
    border-radius: 40px;
}

.footer div {
    display: flex;
    flex-direction: column;
}

.footer p{
    color: #FFF;
    justify-content: center;
    text-align: center;
}

.footer-cont{
    border-top: 2px solid #676767;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.social-footer{
    display: flex;
    gap: 20px;
    align-items: center;
}



.social-footer a img{
    width: 35px;
}

@media screen and (max-width: 768px) {
    .footer img {
        width: 54px;
        height: 54px;
    }



    .footer {
        flex-direction: column; 
        align-items: center; 
    }
    .text{
        padding-top: 20px;
    }

    .footer-cont{
        flex-direction: column;
    }
}